body {
	background: #ffff;
	font-family: "Times New Roman", Times, serif;
	margin: 0;
	margin-bottom: 0;
	
}
#background {
	background: url(../images/back.jpg) repeat-x center top;
	//background-color:#333;
	min-height: 700px;
}
#page {
	width: 960px;
	margin: 0 auto;
}
img {
	border: 0;
}

#contents div.box, #contents div.box > div, #contents div.body {
	background-image: url(../images/content2.jpg);
	background-repeat: no-repeat;
}

/*------------------------------ HEADER ------------------------------*/
#header {
	margin-bottom: 20px;
	padding-top: 20px;
}
/** Logo **/
#logo {
	float: left;
	margin-bottom: 20px;
	margin-left: 49px;
}
/** Navigation **/
#navigation {
	background-color:#B0E0E6;
	clear: both;
	height: 30px;
	width: 845px;
	margin-bottom:-19px;
	margin-left:55px;
	padding: 0px;
	padding-left: 0px;
}
#navigation ul {
/background-color:;
	display: inline-block;
	width: 700px;
	list-style: none;
	margin: 0;
	padding: 0;
}
#navigation li {
	float: left;
	background-position: 0 -118px;
	background-repeat: no-repeat;
	height: 30px;
	width: 80px;
	margin: 0px;
	padding-left: 1px;
	text-align: center;
}
#navigation li:first-child {
	background: none;
	margin-left: 0;
	padding-left: 0;
}
#navigation li a {
background-color:#4169E1;
	color: #fff;
	display: block;
	font: bold 12px/20px verdana;
	height: 20px;
	text-decoration: none;
	text-transform: uppercase;
	border:1px solid #fff;
	border-radius:0.25em;
	margin-left:2px;
	margin-top:4px;
}
#navigation li a:hover {
	background-position: 0 -59px;
	color: #4169E1;
	background-color:#fff;
	
}
#navigation li.selected a {
	background-position: 0 0;
	color: #4169E1;
}

/*------------------------------ CONTENTS ------------------------------*/
#contents {
	display: inline-block;
	width: 845px;
	padding: 0 55px;
	
}
#contents h1 {
	color: #316e66;
	font: 26px/30px "Times New Roman", Times, serif;
	margin: 18px 0 20px;
	padding-left: 2px;
	text-transform: uppercase;
}
#contents div.body h1, #contents h2 {
	color: #316e66;
	font: 30px/30px "Times New Roman", Times, serif;
	margin: 0 0 18px;
	text-transform: uppercase;
	
}
#contents h2 {
	font-size: 22px;
	margin: 0 0 30px;
}
#contents h2 a {
	color: #2c9688;
	text-decoration: none;
}

/*--------------------- link list file --------- */
#contents a {
text-decoration:none;
cursor:pointer;
	}

#contents p {
	color: #5a4535;
	font-size: 15px;
	line-height: 30px;
	margin: 0;
	padding: 0 0 24px 2px;
}
#contents p a {
	color: #5a4535;
}
#contents p a:hover, #news div.sidebar ul li a:hover {
	color: #917157;
}
/** box-shadow **/
#contents div.box {
	background-position: left bottom;
	margin-bottom: 20px;
	margin-left: 1px;
	padding: 0 0 6px;
}
#contents div.box > div {
	background-position: -1745px top;
	padding: 6px 0 0;
}
#contents div.body {
	background-position: -871px top;
	background-repeat: repeat-y;
	min-height: 350px;
	padding: 30px 40px 0;
	
}

/** MAIN **/
#main {
	float: left;
	min-height: 100px;
	width: 566px;
}
#main div.box {
	background-position: left bottom;
	margin-bottom: 12px;
	padding: 0 0 6px;
}
#main div.box > div {
	background-position: -1145px top;
	padding: 6px 0 0;
}
#main div.box > div > div {
	background-position: -572px top;
	background-repeat: repeat-y;
	padding: 17px;
}
#main div.box h3 {
	color: #316e66;
	font-weight: normal;
	letter-spacing: 1px;
	border-bottom: 1px dotted #9c8964;
	margin: 0;
	padding: 0 0 12px;
	text-transform: uppercase;
}
#main div.box h4 {
	font: 22px/24px "Times New Roman", Times, serif;
	font-weight: normal;
	margin: 6px 0 0;
}
#main div.box h4 a {
	color: #5a4535;
	text-decoration: none;
}
#main div.box ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
#main div.box ul li {
	border-bottom: 1px dotted #9c8964;
}
#main div.box ul li span {
	color: #5a4535;
	display: block;
	font-size: 14px;
	margin-bottom: 12px;
}
#main div.box ul li p {
	line-height: 24px;
	padding: 0 0 3px;
}


/*text decoration*/

/*input field*/
.input{
-moz-border-radius:4px;
-khtml-border-radius: 4px;
-webkit-border-radius: 4px;
font-size:13px;
font-family:arial;
background-color:#FFFFFF;
border:1pt solid #999999;
padding:4px;
-webkit-box-shadow:inset 0 0 3px #666;
  -moz-box-shadow:inset 0 0 3px #666;
  box-shadow:inset 0 0 3px #666;
}
/*------------------------------- Logo hedaer ------------------------*/
#logo-h{
	background: url(../images/head.jpg);
	//background-color:#FFD9D8;
	height: 100px;
	width: 841px;
	margin-top:-18px;
	margin-left:-3px;
	margin-bottom:;
	clear: both;
}
/*-------------------------------HEADER-------------------------------*/
#head{
	//background: url(../images/bg-menubar.jpg);
	background-color:#B0E0E6;
	height: 87px;
	width: 835px;
	padding: 5px;
	padding-top: 20px;
	float: center;
	margin:-5px;
	margin-left:55px;
	clear: both;
	text-transform: uppercase;
	
	
}
/*------------------------------ FOOTER ------------------------------*/
#footer {
	//background: url(../images/bg-menubar.jpg);
	background-color:#4169E1;
	height: 40px;
	width: 835px;
	padding: 5px;
	padding-top: 20px;
	float: center;
	margin:-5px;
	margin-left:55px;
	clear: both;
	text-transform: uppercase;
	
	
}
#footer ul.navigation {
	float: left;
	display: inline-block;
	list-style: none;
	margin: 0;
	padding: 0;
}
#footer ul.navigation li {
	float: left;
	margin-right: 10px;
}
#footer ul.navigation li a {
	color: #594334;
	padding: 0 5px;
	text-decoration: none;
}
#footer ul.navigation li:first-child a {
	border-left: 0;
	padding-left: 0;
}
#footer ul.navigation li a:hover {
	color: #eee7c3;
}
#footer ul.navigation li.active a {
	color: #fff;
}
#footer p {
	margin: 0;
	text-align: center;
	text-transform: none;
	font-family:trebuchet-MS;
}

/*TOMBOL*/
.tombol{
  background:#4169E1;
  color:white;
  border-top:0;
  border-left:0;
  border-right:0;
  border-bottom:5px solid #0000CD;
  padding:10px 20px;
  text-decoration:none;
  font-family:sans-serif;
  font-size:11pt;

}
